@font-face {
  font-family: 'sans-Black';
  src: url("./font/sans-Black.woff") format("woff2"); }

@font-face {
  font-family: 'sans-BlackItalic';
  src: url("./font/sans-BlackItalic.woff") format("woff2"); }

@font-face {
  font-family: 'sans-Bold';
  src: url("./font/sans-Bold.woff") format("woff2"); }

@font-face {
  font-family: 'sans-BoldItalic';
  src: url("./font/sans-BoldItalic.woff") format("woff2"); }

@font-face {
  font-family: 'sans-Book';
  src: url("./font/sans-Book.woff") format("woff2"); }

@font-face {
  font-family: 'sans-BookItalic';
  src: url("./font/sans-BookItalic.woff") format("woff2"); }

@font-face {
  font-family: 'sans-Light';
  src: url("./font/sans-Light.woff") format("woff2"); }

@font-face {
  font-family: 'sans-LightItalic';
  src: url("./font/sans-LightItalic.woff") format("woff2"); }

@font-face {
  font-family: 'sans-Medium';
  src: url("./font/sans-Medium.woff") format("woff2"); }

@font-face {
  font-family: 'sans-MediumItalic';
  src: url("./font/sans-MediumItalic.woff") format("woff2"); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: "Georgia", sans-serif;
  text-rendering: optimizeLegibility; }

html,
body {
  height: 100%;
  overflow: hidden;
  position: relative; }

a {
  text-decoration: none; }

a {
  color: #297cbc; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1290px;
  position: relative;
  width: auto; }
  @media (max-width: 669px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 670px) {
    .container {
      width: 80.625%; } }
  @media (min-width: 1534px) {
    .container {
      width: 100%; } }

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em; }

.date {
  color: #afafaf;
  display: inline-block;
  font-family: "sans-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  letter-spacing: .4px;
  text-transform: uppercase; }

.title {
  color: #323232;
  font-family: "sans-Book", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 42px;
  letter-spacing: -.4px;
  line-height: 1.04762;
  margin: 0.2381em 0 0.64286em; }
  @media (max-width: 445px) {
    .title {
      font-size: 26px !important;
      line-height: 1.2 !important; } }
  @media (min-width: 446px) and (max-width: 571px) {
    .title {
      font-size: 35px !important; } }
  @media (min-width: 509px) and (max-width: 669px) {
    .title {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%; } }

.intro {
  color: #3c4143;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1.54167em; }
  @media (max-width: 445px) {
    .intro {
      font-size: 16px !important; } }
  @media (min-width: 446px) and (max-width: 571px) {
    .intro {
      font-size: 20px !important; } }

.headroom {
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: transform; }

@media (min-width: 670px) {
  .headroom--pinned {
    transform: translateY(0%); } }

@media (min-width: 670px) {
  .headroom--unpinned {
    transform: translateY(-100%); } }

.hamburger {
  display: block;
  padding: 8px 9px 7px; }
  @media (min-width: 446px) {
    .hamburger {
      padding: 11px 9px 10px; } }
  @media (min-width: 572px) {
    .hamburger {
      padding: 14px 13px 13px; } }
  .Nav .hamburger {
    float: right; }

.hamburger-box {
  display: block;
  height: 15px;
  width: 29px; }
  @media (min-width: 446px) {
    .hamburger-box {
      height: 17px;
      width: 31px; } }
  @media (min-width: 572px) {
    .hamburger-box {
      height: 21px;
      width: 35px; } }

.hamburger-inner {
  border-radius: 0;
  margin-top: 0; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #5e5e5e;
  height: 1px;
  width: 100%; }

.hamburger--elastic .hamburger-inner {
  top: 0; }

.hamburger--elastic.is-active .hamburger-inner {
  top: -3px; }
  @media (min-width: 446px) {
    .hamburger--elastic.is-active .hamburger-inner {
      top: -2px; } }

.hamburger--elastic .hamburger-inner::before {
  top: 7px; }
  @media (min-width: 446px) {
    .hamburger--elastic .hamburger-inner::before {
      top: 8px; } }
  @media (min-width: 572px) {
    .hamburger--elastic .hamburger-inner::before {
      top: 10px; } }

.hamburger--elastic .hamburger-inner::after {
  top: 14px; }
  @media (min-width: 446px) {
    .hamburger--elastic .hamburger-inner::after {
      top: 16px; } }
  @media (min-width: 572px) {
    .hamburger--elastic .hamburger-inner::after {
      top: 20px; } }

.hamburger--elastic.is-active .hamburger-inner::after {
  top: 20px; }

.swiper-container {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.swiper-slide {
  background-color: #fff; }

@media (max-width: 669px) {
  .swiper-pagination {
    display: none; } }

.swiper-container-vertical > .swiper-pagination-bullets {
  left: 20px;
  right: auto; }
  @media (min-width: 572px) {
    .swiper-container-vertical > .swiper-pagination-bullets {
      left: 3.5%; } }
  @media (min-width: 1600px) {
    .swiper-container-vertical > .swiper-pagination-bullets {
      left: 56px; } }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0; }

.swiper-pagination-bullet {
  background: #cac6cd;
  height: 5px;
  opacity: 1;
  transition: background 200ms ease-in-out;
  width: 5px; }
  @media (min-width: 760px) {
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px; } }

.light {
  background: #d7d4d9; }

.lighter {
  background: #e3e1e5; }

.swiper-pagination-bullet-active {
  background: #3aa7e8; }

.Nav {
  overflow: hidden;
  padding: 20px; }
  @media (min-width: 670px) {
    .Nav {
      padding-left: 3.5%;
      padding-right: 3.5%; } }
  @media (min-width: 616px) {
    .Nav {
      padding-bottom: 3.25%;
      padding-top: 3.25%; } }
  @media (min-width: 1600px) {
    .Nav {
      padding: 52px 56px; } }

.Nav-fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10; }

.Logo {
  background-color: #3aa7e8;
  border-radius: 100%;
  display: inline-block;
  font-size: 30px;
  height: 1em;
  text-align: center;
  width: 1em; }
  @media (min-width: 446px) {
    .Logo {
      font-size: 38px; } }
  @media (min-width: 572px) {
    .Logo {
      font-size: 48px; } }
  .Logo .icon {
    opacity: .8;
    transition: opacity 200ms ease-in-out; }
  .Logo:hover .icon,
  .Logo:active .icon,
  .Logo:focus .icon {
    opacity: 1; }
  .Nav .Logo {
    float: left; }

.Button {
  background-color: #323232;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "sans-Medium", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 0.8125em 2.1875em 0.8125em;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.Masthead {
  align-items: center;
  display: flex;
  justify-content: center; }

.Masthead-container h1 {
  color: #323232;
  font-family: "sans-Book", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 72px;
  letter-spacing: -.4px;
  line-height: 1;
  margin: 0; }
  @media (min-width: 1540px) {
    .Masthead-container h1 {
      max-width: 80%; } }

.Masthead-container p {
  color: #656565;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  margin: 1.25em 0 0; }

.image-LonelyPlanet-1,
.image-Airbnb-1 {
  box-shadow: 0 15px 90px 23px rgba(0, 0, 0, 0.14);
  display: block;
  height: 72vh;
  max-height: 713px;
  position: absolute;
  right: 57.36434vh;
  transition: opacity 400ms ease-in-out 400ms, transform 400ms ease-in-out 400ms;
  z-index: 2;
  height: auto; }
  @media (max-width: 669px) {
    .image-LonelyPlanet-1,
    .image-Airbnb-1 {
      left: 20px;
      margin-top: 12.8125%;
      right: auto;
      width: 36.875%; } }
  @media (min-width: 670px) {
    .image-LonelyPlanet-1,
    .image-Airbnb-1 {
      right: 25.5814%;
      top: 50%;
      width: 23.25581%; } }
  @media (min-width: 1400px) {
    .image-LonelyPlanet-1,
    .image-Airbnb-1 {
      width: 31.78295%;
      right: 34.10853%; } }
  .not-animated .image-LonelyPlanet-1,
  .not-animated .image-Airbnb-1 {
    opacity: 0;
    transform: translateX(10px); }
    @media (min-width: 670px) {
      .not-animated .image-LonelyPlanet-1,
      .not-animated .image-Airbnb-1 {
        transform: translateX(10px) translateY(-50%); } }
  .animated .image-LonelyPlanet-1,
  .animated .image-Airbnb-1 {
    opacity: 1;
    transform: translateX(0); }
    @media (min-width: 670px) {
      .animated .image-LonelyPlanet-1,
      .animated .image-Airbnb-1 {
        transform: translateX(0) translateY(-50%); } }

.image-LonelyPlanet-2,
.image-Airbnb-2 {
  box-shadow: 0 33px 114px 32px rgba(0, 0, 0, 0.11);
  display: block;
  height: 100vh;
  max-height: 1059px;
  position: absolute;
  right: 0;
  transition: opacity 400ms ease-in-out 800ms, transform 400ms ease-in-out 800ms;
  z-index: 1;
  height: auto; }
  @media (max-width: 669px) {
    .image-LonelyPlanet-2,
    .image-Airbnb-2 {
      right: 20px;
      width: 79.6875%; } }
  @media (min-width: 670px) {
    .image-LonelyPlanet-2,
    .image-Airbnb-2 {
      right: -256px;
      top: 50%;
      width: calc(40.31008% + 256px); } }
  @media (min-width: 1400px) {
    .image-LonelyPlanet-2,
    .image-Airbnb-2 {
      width: calc(48.83721% + 256px);
      right: -256px; } }
  .not-animated .image-LonelyPlanet-2,
  .not-animated .image-Airbnb-2 {
    opacity: 0;
    transform: translateX(10px); }
    @media (min-width: 670px) {
      .not-animated .image-LonelyPlanet-2,
      .not-animated .image-Airbnb-2 {
        transform: translateX(10px) translateY(-50%); } }
  .animated .image-LonelyPlanet-2,
  .animated .image-Airbnb-2 {
    opacity: 1;
    transform: translateX(0); }
    @media (min-width: 670px) {
      .animated .image-LonelyPlanet-2,
      .animated .image-Airbnb-2 {
        transform: translateX(0) translateY(-50%); } }

.image-Salesforce {
  display: block;
  max-height: 1116px;
  position: absolute;
  right: 0;
  transition: opacity 400ms ease-in-out 400ms, transform 400ms ease-in-out 400ms; }
  .not-animated .image-Salesforce {
    opacity: 0;
    transform: translateX(40px); }
  .animated .image-Salesforce {
    opacity: 1;
    transform: translateX(0); }

.CaseStudy {
  padding-top: 70px; }
  @media (min-width: 446px) {
    .CaseStudy {
      padding-top: 78px; } }
  @media (min-width: 572px) {
    .CaseStudy {
      padding-top: 88px; } }
  @media (min-width: 670px) {
    .CaseStudy {
      align-items: center;
      display: flex; } }

@media (max-width: 445px) {
  .CaseStudy-container {
    height: calc(100vh - 70px); } }

@media (min-width: 446px) and (max-width: 571px) {
  .CaseStudy-container {
    height: calc(100vh - 78px); } }

@media (min-width: 572px) and (max-width: 669px) {
  .CaseStudy-container {
    height: calc(100vh - 88px); } }

@media (max-width: 669px) {
  .CaseStudy-container {
    text-align: center;
    width: auto; } }

.CaseStudy-description {
  transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 200ms, transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 200ms; }
  @media (max-width: 669px) {
    .CaseStudy-description {
      margin-bottom: 50px; } }
  @media (min-width: 670px) {
    .CaseStudy-description {
      padding-right: 8.52713%;
      width: 34.10853%; } }
  @media (min-width: 1400px) {
    .CaseStudy-description {
      width: 25.5814%; } }
  .not-animated .CaseStudy-description {
    opacity: 0; }
    @media (max-width: 669px) {
      .not-animated .CaseStudy-description {
        transform: translateY(-15%); } }
    @media (min-width: 670px) {
      .not-animated .CaseStudy-description {
        transform: translateX(-100%); } }
  .animated .CaseStudy-description {
    opacity: 1; }
    @media (max-width: 669px) {
      .animated .CaseStudy-description {
        transform: translateY(0); } }
    @media (min-width: 670px) {
      .animated .CaseStudy-description {
        transform: translateX(0); } }

.Footer {
  background-color: #f1f1f1;
  padding-bottom: 124px;
  padding-top: 230px; }
  .Footer .container {
    max-width: 82.94574%; }
  .Footer header {
    position: relative;
    text-align: center; }
    .Footer header::before {
      background-color: #3aa7e8;
      content: '';
      display: block;
      height: 4px;
      left: 50%;
      margin-left: -15px;
      position: absolute;
      top: -94px;
      width: 30px; }
  .Footer h2 {
    color: #323232;
    font-family: "sans-Book", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 50px;
    letter-spacing: -.4px;
    line-height: 1.08;
    margin: 0; }
  .Footer p {
    color: #4e5254;
    font-size: 32px;
    letter-spacing: -.25px;
    line-height: 1.5;
    margin-bottom: 65px;
    margin-top: 17px; }
  .Footer form {
    font-family: "sans-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: -.25px; }
  .Footer fieldset {
    border: 0;
    margin: 0;
    overflow: hidden;
    padding: 0; }
  .Footer fieldset + fieldset {
    margin-top: 2.80374%; }
  .Footer legend,
  .Footer label {
    display: none; }
  .Footer input,
  .Footer textarea {
    background-color: #fff;
    border: 0;
    display: block;
    font-size: 24px;
    padding: 21px 30px;
    width: 100%; }
  .Footer textarea {
    height: 316px;
    resize: none; }
  .Footer button {
    background-color: #3aa7e8;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 1;
    margin-top: 2.80374%;
    padding: 25px 0 23px;
    text-align: center;
    width: 100%; }
  .Footer .column {
    float: left;
    width: 48.59813%; }
  .Footer .column + .column {
    margin-left: 2.80374%; }

.th-bg-lonelyPlanet {
  background-color: #297cbc; }

.th-bg-salesforce {
  background-color: #00a1e0; }

.th-bg-airbnb {
  background-color: #ff5459; }
