@font-face { font-family: 'sans-Black'; src: url('../fonts/sans-Black.woff') format('woff2'); }
@font-face { font-family: 'sans-BlackItalic'; src: url('../fonts/sans-BlackItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Bold'; src: url('../fonts/sans-Bold.woff') format('woff2'); }
@font-face { font-family: 'sans-BoldItalic'; src: url('../fonts/sans-BoldItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Book'; src: url('../fonts/sans-Book.woff') format('woff2'); }
@font-face { font-family: 'sans-BookItalic'; src: url('../fonts/sans-BookItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Light'; src: url('../fonts/sans-Light.woff') format('woff2'); }
@font-face { font-family: 'sans-LightItalic'; src: url('../fonts/sans-LightItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Medium'; src: url('../fonts/sans-Medium.woff') format('woff2'); }
@font-face { font-family: 'sans-MediumItalic'; src: url('../fonts/sans-MediumItalic.woff') format('woff2'); }
