/// Imports

@import '../node_modules/susy/sass/susy';

@font-face { font-family: 'sans-Black'; src: url('./font/sans-Black.woff') format('woff2'); }
@font-face { font-family: 'sans-BlackItalic'; src: url('./font/sans-BlackItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Bold'; src: url('./font/sans-Bold.woff') format('woff2'); }
@font-face { font-family: 'sans-BoldItalic'; src: url('./font/sans-BoldItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Book'; src: url('./font/sans-Book.woff') format('woff2'); }
@font-face { font-family: 'sans-BookItalic'; src: url('./font/sans-BookItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Light'; src: url('./font/sans-Light.woff') format('woff2'); }
@font-face { font-family: 'sans-LightItalic'; src: url('./font/sans-LightItalic.woff') format('woff2'); }
@font-face { font-family: 'sans-Medium'; src: url('./font/sans-Medium.woff') format('woff2'); }
@font-face { font-family: 'sans-MediumItalic'; src: url('./font/sans-MediumItalic.woff') format('woff2'); }

/// Settings

$colors: (
  White         : #fff,
  PictonBlue    : #3aa7e8,
  MineShaft     : #323232, // 3a3a3a
  CapeCod       : #3c4143,
  DoveGray      : #656565,
  Mariner       : #297cbc, // LP
  Cerulean      : #00a1e0, // Salesforce
  Persimmon     : #ff5459, // Airbnb
  Seashell      : #f1f1f1,
  SilverChalice : #afafaf,
  Scorpion      : #5e5e5e
);

@function sans-serif($weight: 'Book') {
  @return 'sans-#{$weight}', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

@function serif() {
  @return 'Georgia', sans-serif; // TODO: Use FreightText
}

$fonts: (
  SansSerifLight: sans-serif('Light'),
  SansSerifBook: sans-serif('Book'),
  SansSerifMedium: sans-serif('Medium'),
  Serif: serif()
);

$layout: (
  columns: 12,
  column-width: 80px,
  container: 1290px,
  gutter-position: before,
  gutters: 3 / 8,
  // math: static,
  output: float
);

$susy: $layout;

@mixin underlined-link() {
  background-image: linear-gradient(
    to top,
    transparent,
    transparent 2px,
    rgba(map-get($colors, 'Mariner'), .8) 3px,
    rgba(map-get($colors, 'Mariner'), .8) (3px + 1px),
    transparent (3px + 1px)
  );
  color: rgba(map-get($colors, 'Mariner'), .8);
  position: relative;
  text-decoration: none;
  text-shadow: -1px -1px 0 map-get($colors, 'White'),
     1px -1px 0 map-get($colors, 'White'),
     -1px 1px 0 map-get($colors, 'White'),
     1px 1px 0 map-get($colors, 'White');
  transition: color 200ms ease;

  // &:hover,
  // &:active,
  // &:focus {
  //   background-image: linear-gradient(
  //     to top,
  //     transparent,
  //     transparent 3px,
  //     rgba(red, .4) 3px,
  //     rgba(red, .4) (3px + 1px),
  //     transparent (3px + 1px)
  //   );
  //   color: red;
  // }
}


/// Base

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// :root {
//   font-size: calc(16px + 3vw);
// }

body {
  background-color: map-get($colors, 'White');
  font-family: map-get($fonts, 'Serif');
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

// a:link,
// a:visited {
a {
  color: map-get($colors, 'Mariner');
}

.Masthead {
  transition: background-image 200ms ease-in-out,
    color 200ms ease-in-out,
    text-shadow 200ms ease-in-out;

  a:hover,
  a:active,
  a:focus {
    @include underlined-link;
  }
}

/// Objects

.container {
  // @include container;
  margin-left: auto;
  margin-right: auto;
  max-width: container();
  // overflow: hidden;
  position: relative;
  // width: 100%;

  // padding-left: 20px;
  // padding-right: 20px;
  width: auto;

  // @media (max-width: 571px) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  //   width: auto;
  // }
  //
  // @media (min-width: 572px) {
  //   width: 100%;
  // }

  // @media (max-width: 1402px) {
  // @media (max-width: 1534px) {
  //   background-color: gray;
  //   padding-left: 56px;
  //   padding-right: 56px;
  // }

  // background-color: gray;
  // padding-left: 50px;
  // padding-right: 50px;

  // @media (min-width: 572px) {
  //   padding-left: #{(56 / 1600) * 100%};
  //   padding-right: #{(56 / 1600) * 100%};
  // }

  @media (max-width: 669px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  // @media (min-width: 572px) {
  @media (min-width: 670px) {
    // padding-left: #{(56 / 1600) * 100%};
    // padding-right: #{(56 / 1600) * 100%};
    width: #{(1290 / 1600) * 100%};
  }

  // @media (min-width: 1600px) {
  @media (min-width: 1534px) {
    // padding-left: 56px;
    // padding-right: 56px;
    // padding-left: 0;
    // padding-right: 0;
    width: 100%;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}

.date {
  color: map-get($colors, 'SilverChalice');
  display: inline-block;
  font-family: map-get($fonts, 'SansSerifLight');
  font-size: 12px;
  letter-spacing: .4px;
  text-transform: uppercase;
}

.title {
  color: map-get($colors, 'MineShaft');
  font-family: map-get($fonts, 'SansSerifBook');
  font-size: 42px;
  letter-spacing: -.4px;
  line-height: (44 / 42);
  margin: #{(10 / 42)}em 0 #{(27 / 42)}em;

  @media (max-width: 445px) {
    font-size: 26px !important; // override element query
    line-height: 1.2 !important; // override element query
  }

  @media (min-width: 446px) and (max-width: 571px) {
    font-size: 35px !important; // override element query
  }

  @media (min-width: 509px) and (max-width: 669px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}

.intro {
  color: map-get($colors, 'CapeCod');
  // font-family: serif;
  font-size: 24px;
  font-weight: 300;
  line-height: (36 / 24);
  margin: 0 0 #{(37 / 24)}em;

  @media (max-width: 445px) {
    font-size: 16px !important; // override element query
  }

  @media (min-width: 446px) and (max-width: 571px) {
    font-size: 20px !important; // override element query
  }
}

.headroom {
  transition: transform 800ms cubic-bezier(.68, -.55, .265, 1.55);
  will-change: transform;
}

.headroom--pinned {
  @media (min-width: 670px) {
    transform: translateY(0%);
  }
}

.headroom--unpinned {
  @media (min-width: 670px) {
    transform: translateY(-100%);
  }
}

.hamburger {
  display: block;
  padding: 8px 9px 7px;

  @media (min-width: 446px) {
    padding: 11px 9px 10px;
  }

  @media (min-width: 572px) {
    padding: 14px 13px 13px;
  }

  @media (max-width: 571px) {
    // margin-right: -17px;
    // margin-top: -6px;
  }

  .Nav & {
    float: right;

    @media (max-width: 571px) {
      // transform: scale(.75);
    }
  }
}

.hamburger-box {
  display: block;
  height: 15px;
  width: 29px;

  @media (min-width: 446px) {
    height: 17px;
    width: 31px;
  }

  @media (min-width: 572px) {
    height: 21px;
    width: 35px;
  }
}

.hamburger-inner {
  border-radius: 0;
  margin-top: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: map-get($colors, 'Scorpion');
  height: 1px;
  width: 100%;
}

.hamburger--elastic {
  .hamburger-inner {
    top: 0;
  }

  &.is-active .hamburger-inner {
    top: -3px;

    @media (min-width: 446px) {
      top: -2px;
    }
  }

  .hamburger-inner::before {
    top: 7px;

    @media (min-width: 446px) {
      top: 8px;
    }

    @media (min-width: 572px) {
      top: 10px;
    }
  }

  .hamburger-inner::after {
    top: 14px;

    @media (min-width: 446px) {
      top: 16px;
    }

    @media (min-width: 572px) {
      top: 20px;
    }
  }

  &.is-active .hamburger-inner::after {
    top: 20px;
  }
}

.swiper-container {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.swiper-slide {
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
  background-color: map-get($colors, 'White');
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
}

.swiper-pagination {
  @media (max-width: 669px) {
    display: none;
  }
}

.swiper-container-vertical > .swiper-pagination-bullets {
  left: 20px;
  right: auto;

  @media (min-width: 572px) {
    left: #{(56 / 1600) * 100%};
  }

  @media (min-width: 1600px) {
    left: 56px;
  }
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
}

.swiper-pagination-bullet {
  background: #cac6cd;
  height: 5px;
  opacity: 1;
  transition: background 200ms ease-in-out;
  width: 5px;

  @media (min-width: 760px) {
    height: 10px;
    width: 10px;
  }
}

.light {
  background: lighten(#cac6cd, 5);
}

.lighter {
  background: lighten(#cac6cd, 10);
}

.swiper-pagination-bullet-active {
  background: map-get($colors, 'PictonBlue');
}


// Components

.Main {
  // padding-bottom: 152px;
  // padding-top: 152px;
}

.Nav {
  // background-color: rgba(255, 255, 255, .6);
  overflow: hidden;
  padding: 20px;

  // @media (min-width: 572px) {
  @media (min-width: 670px) {
    padding-left: #{(56 / 1600) * 100%};
    padding-right: #{(56 / 1600) * 100%};
  }

  @media (min-width: 616px) {
    padding-bottom: #{(52 / 1600) * 100%};
    padding-top: #{(52 / 1600) * 100%};
  }

  @media (min-width: 1600px) {
    padding: 52px 56px;
  }
}

.Nav-fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.Logo {
  background-color: map-get($colors, 'PictonBlue');
  border-radius: 100%;
  display: inline-block;
  font-size: 30px;
  height: 1em;
  text-align: center;
  width: 1em;

  @media (min-width: 446px) {
    font-size: 38px;
  }

  @media (min-width: 572px) {
    font-size: 48px;
  }

  .icon {
    opacity: .8;
    transition: opacity 200ms ease-in-out;

    // @media (min-width: 572px) {
    //   padding-left: 2px;
    // }
  }

  &:hover,
  &:active,
  &:focus {
    .icon {
      opacity: 1;
    }
  }

  .Nav & {
    float: left;
  }
}

.Button {
  $color: map-get($colors, 'MineShaft');
  background-color: $color;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: map-get($colors, 'White');
  cursor: pointer;
  display: inline-block;
  font-family: map-get($fonts, 'SansSerifMedium');
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: #{(13 / 16)}em #{(35 / 16)}em #{(13 / 16)}em;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: background-color 200ms ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    background-color: $color + 30;
  }
}

.Masthead {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Masthead-container {
  h1 {
    color: map-get($colors, 'MineShaft');
    font-family: map-get($fonts, 'SansSerifBook');
    font-size: 72px;
    letter-spacing: -.4px;
    line-height: 1;
    margin: 0;

    @media (min-width: 1540px) {
      max-width: 80%;
    }
  }

  p {
    color: map-get($colors, 'DoveGray');
    font-size: 32px;
    // font-family: serif;
    font-weight: 300;
    line-height: (48 / 32);
    margin: #{(40 / 32)}em 0 0;
  }
}

.image-LonelyPlanet-1,
.image-Airbnb-1 {
  box-shadow: 0 15px 90px 23px rgba(0,0,0, .14);
  display: block;
  // height: calc(72vh - 152px);
  // height: 72vh - 10;
  height: 72vh;
  max-height: 713px;
  position: absolute;
  // right: #{(696 / 1800) * 100}vh;
  right: (span(7) / span(12)) * 100vh;
  // top: 152px + 150px;
  // top: 16vh + 5;
  // top: 16vh;
  transition: opacity 400ms ease-in-out 400ms,
    transform 400ms ease-in-out 400ms;
  z-index: 2;

  height: auto;

  @media (max-width: 669px) {
    // left: 0;
    // width: span(3);
    left: 20px;
    margin-top: #{(41 / 320) * 100%};
    right: auto;
    width: #{(118 / 320) * 100%};
  }

  @media (min-width: 670px) {
    right: span(3) + gutter();
    top: 50%;
    width: span(3);
  }

  @media (min-width: 1400px) {
    width: span(4);
    right: span(4) + gutter();
  }

  .not-animated & {
    opacity: 0;
    transform: translateX(10px);

    @media (min-width: 670px) {
      transform: translateX(10px) translateY(-50%);
    }
  }

  .animated & {
    opacity: 1;
    transform: translateX(0);

    @media (min-width: 670px) {
      transform: translateX(0) translateY(-50%);
    }
  }
}

.image-LonelyPlanet-2,
.image-Airbnb-2 {
  box-shadow: 0 33px 114px 32px rgba(0,0,0, .11);
  display: block;
  // height: calc(100vh - 152px);
  // height: 100vh - 10;
  height: 100vh;
  max-height: 1059px;
  position: absolute;
  right: 0;
  // top: 152px;
  // top: 5vh;
  // top: 0;
  transition: opacity 400ms ease-in-out 800ms,
    transform 400ms ease-in-out 800ms;
  z-index: 1;

  height: auto;

  @media (max-width: 669px) {
    // right: -25px;
    // width: calc(100% + 50px);
    right: 20px;
    width: #{(255 / 320) * 100%};
  }

  @media (min-width: 670px) {
    right: -256px;
    top: 50%;
    width: calc(#{span(5)} + 256px);
  }

  @media (min-width: 1400px) {
    width: calc(#{span(6)} + 256px);
    right: -256px;
  }

  .not-animated & {
    opacity: 0;
    transform: translateX(10px);

    @media (min-width: 670px) {
      transform: translateX(10px) translateY(-50%);
    }
  }

  .animated & {
    opacity: 1;
    transform: translateX(0);

    @media (min-width: 670px) {
      transform: translateX(0) translateY(-50%);
    }
  }
}

.image-Salesforce {
  display: block;
  // height: 100vh - 10;
  max-height: 1116px;
  position: absolute;
  // right: 0;
  // top: 152px;
  // top: 5vh;
  transition: opacity 400ms ease-in-out 400ms,
    transform 400ms ease-in-out 400ms;
  // z-index: 1;

  height: auto;
  max-width: span(8 static) + 256px;
  width: calc(#{span(8)} + 256px);

  @media (max-width: 669px) {
    // bottom: 0;
  }

  @media (min-width: 670px) {
    right: -256px;
    top: 50%;
  }

  .not-animated & {
    opacity: 0;
    transform: translateX(40px);

    @media (min-width: 670px) {
      transform: translateX(40px) translateY(-50%);
    }
  }

  .animated & {
    left: 50%;
    opacity: 1;
    // transform: translateX(0);
    transform: translateX(-50%);

    @media (min-width: 670px) {
      transform: translateX(0) translateY(-50%);
    }
  }
}

.CaseStudy {
  // align-items: center;
  // display: flex;
  padding-top: 70px;

  @media (min-width: 446px) {
    padding-top: 78px;
  }

  @media (min-width: 572px) {
    padding-top: 88px;
  }

  @media (min-width: 670px) {
    align-items: center;
    display: flex;
    // justify-content: center;
  }
}

.CaseStudy-container {
  // @media (max-width: 571px) {
  //   text-align: center;
  // }

  @media (max-width: 445px) {
    height: calc(100vh - 70px);
  }

  @media (min-width: 446px) and (max-width: 571px) {
    height: calc(100vh - 78px);
  }

  @media (min-width: 572px) and (max-width: 669px) {
    height: calc(100vh - 88px);
  }

  @media (max-width: 669px) {
    text-align: center;
    width: auto;
  }
}

.CaseStudy-description {
  transition: opacity 400ms cubic-bezier(.68, -.55, .265, 1.55) 200ms,
    transform 400ms cubic-bezier(.68, -.55, .265, 1.55) 200ms;

  @media (max-width: 669px) {
    margin-bottom: 50px;
  }

  @media (max-width: 669px) {
    // margin-bottom: 100px;
    // margin-top: -200px;
  }

  @media (min-width: 670px) {
    padding-right: span(1) + gutter();
    width: span(4) + gutter();
  }

  @media (min-width: 1400px) {
    width: span(3) + gutter();
  }

  .not-animated & {
    opacity: 0;

    @media (max-width: 669px) {
      transform: translateY(-15%);
    }

    @media (min-width: 670px) {
      transform: translateX(-100%);
    }
  }

  .animated & {
    opacity: 1;

    @media (max-width: 669px) {
      transform: translateY(0);
    }

    @media (min-width: 670px) {
      transform: translateX(0);
    }
  }
}

.CaseStudy-images {
  // @media (max-width: 669px) {
  //   position: relative;
  // }
}

.Footer {
  background-color: map-get($colors, 'Seashell');
  padding-bottom: 124px;
  padding-top: 230px;

  // position: fixed;
  // width: 100%;
  // height: 100%;
  // z-index: 2;
  // top: 0;

  .container {
    max-width: span(10);
  }

  header {
    position: relative;
    text-align: center;

    &::before {
      background-color: map-get($colors, 'PictonBlue');
      content: '';
      display: block;
      height: 4px;
      left: 50%;
      margin-left: -15px;
      position: absolute;
      top: -94px;
      width: 30px;
    }
  }

  h2 {
    color: map-get($colors, 'MineShaft');
    font-family: map-get($fonts, 'SansSerifBook');
    font-size: 50px;
    letter-spacing: -.4px;
    line-height: (54 / 50);
    margin: 0;
  }

  p {
    color: #4e5254;
    // font-family: serif;
    font-size: 32px;
    letter-spacing: -.25px;
    line-height: (48 / 32);
    margin-bottom: 65px;
    margin-top: 17px;
  }

  form {
    font-family: map-get($fonts, 'SansSerifLight');
    letter-spacing: -.25px;
  }

  fieldset {
    border: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  fieldset + fieldset {
    margin-top: gutter(10 fluid);
  }

  legend,
  label {
    display: none;
  }

  input,
  textarea {
    background-color: map-get($colors, 'White');
    border: 0;
    display: block;
    font-size: 24px;
    padding: 21px 30px;
    width: 100%;
  }

  textarea {
    height: 316px;
    resize: none;
  }

  button {
    background-color: map-get($colors, 'PictonBlue');
    border: 0;
    color: map-get($colors, 'White');
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 1;
    margin-top: gutter(10 fluid);
    padding: 25px 0 23px;
    text-align: center;
    width: 100%;
  }

  .column {
    float: left;
    width: span(5 of 10 fluid);
  }

  .column + .column {
    margin-left: gutter(10 fluid);
  }
}


/// Themes

.th-bg-lonelyPlanet {
  $color: map-get($colors, 'Mariner');

  &.Button {
    background-color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: $color + 30;
    }
  }
}

.th-bg-salesforce {
  $color: map-get($colors, 'Cerulean');

  &.Button {
    background-color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: $color + 30;
    }
  }
}

.th-bg-airbnb {
  $color: map-get($colors, 'Persimmon');

  &.Button {
    background-color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: $color + 30;
    }
  }
}
